<div class="wrapper">
  <div class="ui two column grid" style="width: 100%;">
    <div class="column" style="width: 30%">
      <div class="row">
        <div class="ui raised segment">
          <div class="ui two column grid" style="text-align: center">
            <div class="column"><a [routerLink]="[ '/auth' ]"><span class="logout">Log Out</span></a></div>
            <div class="column"><a [routerLink]="[ '/profile' ]"><span class="profile">Profile</span></a></div>
          </div>
          <br>
          <app-headline></app-headline>
        </div>
      </div>
      <div class="ui raised segment">
        <app-following></app-following>
      </div>
    </div>
    <div class="column" style="width: 70%;">
      <div class="ui segment">
        <app-posts></app-posts>
      </div>
    </div>
  </div>
</div>
